################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuilderDesignPattern/BuilderDesignPattern/BuilderDesignPattern/obj
/BuilderDesignPattern/BuilderDesignPattern/.vs/BuilderDesignPattern/v16
/.vs
/BuilderDesignPattern/BuilderDesignPattern/BuilderDesignPattern.DataContract/obj
/BuilderDesignPattern/BuilderDesignPattern/BuilderDesignPattern.DataContract/bin/Debug/net5.0
/BuilderDesignPattern/BuilderDesignPattern/BuilderDesignPattern.Business/obj
/BuilderDesignPattern/BuilderDesignPattern/BuilderDesignPattern.Business/bin/Debug/net5.0
/BuilderDesignPattern/BuilderDesignPattern/BuilderDesignPattern/bin/Debug/net5.0
/BuilderDesignPattern/BuilderDesignPattern/.vs/BuilderDesignPattern/config
/BuilderDesignPattern/BuilderDesignPattern/.vs/BuilderDesignPattern/DesignTimeBuild
/ObserverDesignPattern/.vs/ObserverDesignPattern
/ObserverDesignPattern/ObserverDesignPattern/obj
/ObserverDesignPattern/ObserverDesignPattern/bin/Debug/net5.0
/ObserverDesignPattern/ObserverDesignPattern.Business/obj
/ObserverDesignPattern/ObserverDesignPattern.Business/bin/Debug/net5.0
/ObserverDesignPattern/ObserverDesignPattern.DataContract/obj
/ObserverDesignPattern/ObserverDesignPattern.DataContract/bin/Debug/net5.0
/AdapterDesignPattern/.vs/AdapterDesignPattern/v16
/AdapterDesignPattern/AdapterDesignPattern/obj
/AdapterDesignPattern/AdapterDesignPattern.Business/obj
/AdapterDesignPattern/AdapterDesignPattern.DataContract/obj
/AdapterDesignPattern/AdapterDesignPattern/bin/Debug/net5.0
/AdapterDesignPattern/AdapterDesignPattern.DataContract/bin/Debug/net5.0
/AdapterDesignPattern/AdapterDesignPattern.Business/bin/Debug/net5.0
